# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\YandexDisk\Курсы\java-mentor.com\Java pre-project\2.2.2_spring-webmvc_Tomcat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
